.rjf-datepicker {
  display: flex;
  position: relative;

  .react-datepicker2 {
    visibility: hidden;
    position: absolute;
    width: 320px;
  }

  .rjf-datepicker-remove-button {
    width: 63px;
    color: #fff;
    background-color: #d9534f;
    font-weight: bold;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 30px;
  }
}

.tether-element {
  z-index: 10;
}
