.shared-components-text-field {
  font-size: 14px;

  label + * {
    margin-top: 20px;
  }

  .shared-components-text-field-input-base-root {
    border-radius: 3px;
    position: relative;
    font-size: 14px;
    box-sizing: border-box;
    height: 100%;

    //chrome bug: when page is zoomed out, html input will cover input-base-root. As a result, border won't show properly
    //https://support.google.com/chrome/forum/AAAAP1KN0B0r1neUxqo5Gc
    overflow: hidden;

    &.theme-1 {
      background-color: #fff;
      border: solid 1px #979797;

      // when TextField is used in Select, base-input will get a background if you select an item
      .shared-components-text-field-input-base-input {
        background-color: transparent;
      }
    }

    &.theme-2 {
      background-color: #f5f5f5;
      border: solid 1px #ddd;

      .shared-components-text-field-input-base-input {
        background-color: transparent;
      }
    }

    .shared-components-text-field-input-base-input {
      padding: 10px 12px;
    }
  }

  .shared-components-text-field-input-base-input-focused {
    border-color: #797979;
  }

  .shared-components-text-field-label,
  .shared-components-text-field-input-base-root-error {
    border-color: #f44336;
  }

  .shared-components-text-field-label,
  .shared-components-text-field-input-base-root {
    font-family: inherit;
    font-weight: unset;
  }

  .shared-components-text-field-input-base-adornedStart::before {
    content: '';
    width: 10px;
  }

  .shared-components-text-field-input-base-adornedEnd::after {
    content: '';
    width: 10px;
  }

  .shared-components-text-field-helper-text {
    font-size: 0.75em;
    font-family: inherit;
  }
}
